body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

body * {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

header {
  color: #f60;
  border-bottom: 0.25em solid #f30;
  padding: 0 1em;
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 1;
}

header > div {
  display: inline-block;
}

div#title {
  font-size: 1em;
  padding: 0.5em 0 0.3em 0;
}

div#title > * {
  display: inherit;
}

div#title img {
  height: 5em;
  width: auto;
}

div#title > div {
  vertical-align: top;
}

div#title h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

div#title h4 {
  margin: 0.5em 0;
}

div#nav-utils {
  float: right;
}

div#nav-utils > div {
  display: inline-block;
  margin-left: 1em;
}

div#search {
  padding: 2em 1em 2em 0;
  position: relative;
  border-right: 2px dashed #f30;
}

div#search label {
  position: absolute;
  top: 2.3em;
  left: 0.5em;
}

div#search #search-term {
  font-size: 1em;
  padding: 0.3em 1.5em;
  width: 25em;
  border: 1px solid #808080;
  border-radius: 1em;
}

div#search #submit-search {
  font-size: 1em;
  padding: 0.3em 0.5em;
  position: absolute;
  right: 1.05em;
  top: 2.05em;
  border-radius: 0 1em 1em 0;
  border: 0;
  background-color: #f60;
  color: #fff;
  line-height: 1.2em;
}

div#search #submit-search:active {
  background-color: #f30;
}

div#search #submit-search:focus {
  outline: none;
}

button,
input[type="button"] {
  cursor: pointer;
}

div#cart-summary {
  position: relative;
}

div#cart-summary * {
  display: inherit;
}

div#cart-summary a {
  color: inherit;
  text-decoration: none;
}

div#cart-summary-items {
  vertical-align: middle;
  margin-right: 1em;
}

div#cart-summary-items i {
  font-size: 2.5em;
}

div#cart-summary-items p {
  position: absolute;
  left: 2.2em;
  top: -1em;
  color: #fff;
  background-color: #f60;
  border-radius: 50%;
  border: 1px solid #888;
  padding: 1px 6px 3px 7px;
  font-size: 0.8em;
}

div#cart-total p {
  border-bottom: 1px solid #f30;
}

div#cart-total p:before {
  content: '$';
  margin-right: 1px;
}

section#products {
  margin-top: 6.6em;
  border-bottom: 0.2em solid #f30;
}

section#products h2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg) center;
  background-size: cover;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3em;
  padding: 3em 0;
  text-indent: 1em;
  margin: 0.2em 0;
  color: #fdfdfd;
  line-height: 1.2em;
}

section#products div.container {
  text-align: center;
  display: block;
}

section#products div.container > div.product {
  display: inline-block;
  border: 0.1em dotted #f30;
  margin: 0.5em;
  padding: 0.5em;
  width: 23%;
}

div.product div.img-container {
  width: auto;
  height: 250px;
  text-align: center;
}

div.product div.img-container img {
  height: 100%;
  width: auto;
}

div.product div.description-container {
  font-size: 0.8em;
  margin: 1em 0;
}

div.product div.description-container p:first-child {
  font-weight: 700;
}

div.product div.description-container p {
  margin: 0;
}

div.product div.price-offer-container {
  text-align: center;
}

div.product div.price-offer-container span {
  font-size: 0.85em;
}

/*div.product div.price-offer-container span:first-child {
  text-decoration: line-through;
  color: #888;
}

div.product div.price-offer-container span:first-child:before {
  content: "$";
  vertical-align: middle;
}*/

div.product div.price-offer-container span {
  color: #f60;
}

div.product div.price-offer-container span.promoCode {
  font-weight: 700;
}

div.product div.price-offer-container span.value-off:before {
  content: "$";
}

div.product div.price-offer-container span.value-off:after {
  content: " OFF!";
}

div.product div.price-offer-container span.percent-off:after {
  content: "% OFF!";
}

div.product div.price-offer-container p {
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  padding: 0.3em 0 0.5em 0;
  border-top: 0.1em dashed #f30;
  border-bottom: 0.1em dashed #f30;
}

div.product div.price-offer-container p:before {
  content: "$";
}

div.product div.add-to-cart-container {
  font-size: 0.8em;
  text-align: right;
  margin-top: 1em;
}

div.product div.add-to-cart-container input[type="number"] {
  font-size: 1.5em;
  width: 3.2em;
}

div.product div.add-to-cart-container input[type="number"]:focus {
  outline-color: #f30;
}

div.product div.add-to-cart-container button {
  font-size: 2.5em;
  vertical-align: middle;
  color: #f60;
  padding-top: 0px;
  padding-bottom: 0;
  margin-top: -0.2em;
  background-color: #fff;
  border: 0;
}

div.product div.add-to-cart-container button:focus {
  outline: none;
}

div.product div.add-to-cart-container button:active {
  color: #f30;
}

section#cart {
  margin-top: 0.2em;
  border-bottom: 0.2em solid #f30;
  padding-bottom: 0.5em;
}

section#cart h2 {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/cart.jpg) center;
  background-size: cover;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3em;
  padding: 2em;
  text-align: center;
  line-height: 1.2em;
}

section#cart div.cart-items {
  display: table;
  width: 100%;
  padding: 1em;
}

section#cart div.cart-items div.table-header {
  display: table-header-group;
}

section#cart div.cart-items div.row-item {
  display: table-row;
}

section#cart div.cart-items div.table-footer {
  display: table-footer-group;
}

section#cart div.cart-items div.table-header > div,
section#cart div.cart-items div.row-item > div,
section#cart div.cart-items div.table-footer > div {
  display: table-cell;
  border: 1px dotted #888;
  border-collapse: collapse;
  vertical-align: top;
}

section#cart div.cart-items div.table-header p {
  margin: 0.5em 0;
}
section#cart div.cart-items div.row-item > div {
  height: 80px;
}

section#cart div.cart-items div.table-header > div {
  text-align: center;
  color: #f60;
  font-size: 1.5em;
  text-transform: uppercase;
}

div.cart-items div.row-item div.cart-img-container {
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: 8%;
}

div.cart-items div.row-item div.cart-img-container img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 45%;
}

div.cart-items div.row-item div.cart-description-container {
  font-size: 0.9em;
  padding: 0.5em;
}

div.cart-items div.row-item div.cart-description-container p {
  margin: 0;
}

div.cart-items div.row-item div.cart-description-container p:first-child {
  font-weight: 700;
}

div.cart-items div.row-item div.cart-description-container p.promo-applied:not(:empty) {
  margin: 0.5em 0;
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  border: 1px solid #888;
  background-color: #efefef;
  display: inline-block;
}

div.cart-items div.row-item div.cart-description-container p.promo-applied:not(:empty):before {
  content: "OFFERS APPLIED: ";
  color: #f60;
}

div.cart-items div.row-item div.cart-qty-container {
  text-align: center;
  padding: 0.5em 0;
  width: 6%;
}

div.cart-items div.row-item div.cart-qty-container > * {
  display: block;
}

div.cart-items div.row-item div.cart-qty-container input[type="number"] {
  font-size: 1.2em;
  width: 3.2em;
  margin: 0 auto 0.5em auto;
}

div.cart-items div.row-item div.cart-qty-container a {
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
}

div.cart-items div.row-item div.cart-price-offer-container,
div.cart-items div.row-item div.cart-subtotal-container {
  padding: 0 0.5em;
  width: 20%;
}

div.cart-items div.row-item div.cart-price-offer-container p,
div.cart-items div.row-item div.cart-subtotal-container p {
  margin: 0;
}

div.cart-items div.row-item div.cart-price-offer-container p.cart-price,
div.cart-items div.row-item div.cart-subtotal-container p.cart-subtotal {
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  margin: 0.5em;
}

div.cart-items div.row-item div.cart-price-offer-container p.cart-price:before,
div.cart-items div.row-item div.cart-subtotal-container p.cart-subtotal:before {
  content: "$";
}

div.cart-items div.row-item div.cart-price-offer-container p.selling-price-if-offer:not(:empty) {
  font-size: 0.8em;
  color: #888;
}

div.cart-items div.row-item div.cart-price-offer-container p.selling-price-if-offer:not(:empty):before {
  content: "MSRP: $"
}

div.cart-items div.row-item div.cart-price-offer-container p.offer-savings-if-offer:not(:empty) {
  font-size: 0.8em;
  color: #f60;
}

div.cart-items div.row-item div.cart-price-offer-container p.offer-savings-if-offer:not(:empty):before {
  content: "Savings: $"
}

section#cart div.cart-items div.table-footer div.promo-code-text {
  border-right: 0;
  text-align: right;
}

div.cart-items div.table-footer div.promo-code-text,
div.cart-items div.table-footer div.apply-promo-code {
  padding: 1em 0.5em;
}

div.cart-items div.table-footer div.promo-code-text p {
  display: inline-block;
  margin: 0.2em 0;
}

div.cart-items div.table-footer div.promo-code-text p:before {
  content: "Promo Code";
  font-size: 0.9em;
}

div.cart-items div.table-footer div.apply-promo-code input {
  font-size: 1.1em;
  text-align: center;
}

div.cart-items div.table-footer div.apply-promo-code input[type="button"] {
  background-color: #f60;
  border: 0;
  padding: 0.2em;
  color: #fff;
  font-weight: 700;
}

div.cart-items div.table-footer div.apply-promo-code input[type="button"]:active {
  background-color: #f30;
}

div.cart-items div.table-footer div.apply-promo-code input[type="button"]:focus {
  outline: none;
}

div.cart-items div.table-footer div.total-savings,
div.cart-items div.table-footer div.estimated-total {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

div.cart-items div.table-footer div.total-savings p {
  color: #f60;
}

div.cart-items div.table-footer div.total-savings p:before {
  content: "Total Savings: $";
}

div.cart-items div.table-footer div.estimated-total p:before {
  content: "Estimated Total: $"
}

section#cart div.cart-buttons-container {
  text-align: right;
  padding-right: 1em;
}

div.cart-buttons-container input[type="button"] {
  font-size: 2em;
  margin-left: 1em;
  border: 0;
  padding: 0.2em 0.5em;
  color: #fff;
}

div.cart-buttons-container input[type="button"]:focus {
  outline: none;
}

div.cart-buttons-container input#shop-more {
  background-color: #95a5a6;
}

div.cart-buttons-container input#shop-more:active {
  background-color: #778484;
}

div.cart-buttons-container input#checkout {
  background-color: #f60;
}

div.cart-buttons-container input#checkout:active {
  background-color: #f30;
}





section#products div#product-template,
section#cart div#cart-row-template {
  display: none;
}